body {
	margin: 0;
	display: block !important
}

.container {
	width: 750px;
	margin: 0 auto;
}

.sidebar {
	width: 200px;
	background: lightgrey;
	float: left;
	height: 100vh;
}

.ui-datatable-frozenlayout-left {
        width: 20%;
    }

    .ui-datatable-frozenlayout-right {
        width: 80%;
    }
